.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.title{
  font-family: 'Patua One';
  margin-top: 5vh;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 3em;
  text-shadow: 3px 5px 4px #333333;
}

.title1{
  font-family: 'Patua One';
  margin-top: 2vh;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 4em;
  text-shadow: 3px 5px 4px #333333;
}

.lema{
  font-family: 'Pacifico';
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}

.introduccion{
  font-family: 'Patua One';
  font-weight: bold;
  font-size: 2.5em;
  color: #fff;
}
