body {
  font-family: 'Roboto', arial, sans-serif;
  color: #444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: #fff;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  color: #fff;
  margin-right: 5px;
}
a.btn-cta,
.btn-cta {
  padding: 8px 30px;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #3D013D;
  border: 2px solid #3D013D;
  color: #fff;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: rgba(61, 1, 61, .7);
  border: 2px solid rgba(61, 1, 61, .7);
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: none;
  border: 2px solid #ec6952;
  color: #ec6952;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #ec6952;
  border: 2px solid #ec6952;
  color: #fff;
}
a.btn-ghost,
.btn-ghost {
  background: none;
  border: 1px solid #fff;
  color: #fff !important;
  padding: 8px 20px;
  vertical-align: middle;
}
a.btn-ghost:hover,
.btn-ghost:hover {
  background: #4a6781;
  border: 1px solid #4a6781;
  color: #fff;
}
a.btn-ghost .fa,
.btn-ghost .fa {
  margin-right: 10px;
  font-size: 22px;
}
a.btn-ghost .text,
.btn-ghost .text {
  position: relative;
  top: -2px;
}
.highlight {
  color: #ec6952;
}
.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-color: #eee;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-highlight {
  color: #952410;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
#topcontrol {
  background: #5d80a1;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: #384d60;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.video-container iframe {
  max-width: 100%;
}
/* ======= Header ======= */
.header {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 40;
  height: 80px;
}
.header.scrolled {
  height: 80px;
  top: 0;
}
.header.scrolled .main-nav .nav .nav-item a {
  color: #666;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  background: #ec6952;
  border-color: #ec6952;
}
.header.scrolled .main-nav .nav .dropdown-menu a {
  color: #fff;
}
.header h1.logo {
  font-family: "Roboto Slab", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.header h1.logo a {
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  line-height: 1.4;
  background: #3D013D;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  position: relative;
  font-size: 20px;
}
.header h1.logo a:hover {
  text-decoration: none;
}
.header h1.logo .logo-title {
  vertical-align: middle;
  line-height: 1.6;
}
.header .main-nav {
  margin-top: 15px;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.header .main-nav .navbar-toggle:focus {
  outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active a {
  color: #3D013D;
  background: none;
  font-weight: bold;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 10px;
  margin-top: 5px;
  font-size: 13px;
}
.header .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
  border: 1px solid #3D013D;
  background: #3D013D;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
}
.header .main-nav .nav .nav-item a:hover {
  color: #9F7BA6;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #9F7BA6;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header .main-nav .nav.active {
  position: relative;
}
.header .main-nav .nav.active > a {
  background: #e74124;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
  display: none;
}
.header .main-nav .nav.open a {
  background: none;
}
.header .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #253340;
}
.header .main-nav .nav .dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #253340;
  position: absolute;
  right: 30px;
  top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
  border-bottom: 1px solid #212e3a;
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
  background: #2e4050;
  color: #fff;
}
/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}
/* ======= Headline Background & Slideshow ======= */
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 780px;
  background: #3D013D;
}
.bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
  display: block;
  height: 780px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
  background: #253340 url('../images/background/bg-header-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-slider-wrapper .flexslider .flex-control-nav {
  z-index: 30;
  bottom: 30px;
  position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: #999;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: #bfbfbf;
}
.headline-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  background: #253340 url('../images/background/bg-header-small-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ======= Promo ======= */
.promo {
  padding-top: 120px;
  position: relative;
  color: #fff;
  margin-bottom: 80px;
  height: 620px;
  z-index: 10;
}
.promo .title {
  font-size: 46px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.promo.section .intro {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.promo .btn-cta {
  font-size: 18px;
}
.promo .btn-link {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  text-decoration: none;
}
.promo .btn-link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  text-decoration: none;
}
.promo .btn-link:focus {
  outline: none;
}
.promo .btn-link .fa {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
/* ======= sections-wrapper ======= */
.sections-wrapper {
  background: #fff;
  z-index: 20;
  position: relative;
  width: 100%;
}
.section .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  color: #999;
  font-size: 18px;
}
.section-on-bg .title {
  color: #fff;
}
.section-on-bg .intro {
  color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* ======= Features tabs ======= */
.features-tabbed {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features-tabbed .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.features-tabbed .tab-content {
  padding: 60px 30px;
}
.features-tabbed .tab-content .title {
  font-size: 16px;
  color: #f19180;
  font-weight: bold;
  margin-bottom: 30px;
}
.features-tabbed .tab-content .desc {
  margin-bottom: 30px;
  color: #666;
}
.features-tabbed .tab-content .desc ul {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.features-tabbed .tab-content .desc ul li {
  margin-bottom: 10px;
}
.features-tabbed .tab-content .desc ul .fa {
  color: #3D013D;
  margin-right: 5px;
}
.features-tabbed .tab-content .desc blockquote {
  font-style: italic;
  color: #808080;
}
.features-tabbed .tab-content .desc .table {
  font-size: 14px;
  padding: 15px 0;
}
.features-tabbed .tab-content .desc .box {
  background: #f5f5f5;
  padding: 30px;
  font-size: 14px;
}
.features-tabbed .tab-content .figure {
  margin-bottom: 60px;
}
.features-tabbed .tab-content .figure img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.features-tabbed .tab-content .figure .figure-caption {
  color: #b3b3b3;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}
.features-tabbed .tab-content .figure .figure-caption a {
  color: #b3b3b3;
}
.features-tabbed .tab-content .figure .figure-caption a:hover {
  color: #3D013D;
}
.nav-tabs {
  border: none;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: center;
  position: relative;
}
.nav-tabs:before {
  content: "";
  display: block;
  border-bottom: 1px solid #eee;
  position: absolute;
  bottom: 0;
}
.nav-tabs > li {
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #eee;
  border-right: none;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 0px;
  color: #999;
  padding: 15px 30px;
  font-size: 14px;
  background: #fafafa;
  border: none;
}
.nav-tabs > li > a .fa {
  font-size: 20px;
}
.nav-tabs > li > a:hover {
  background: #f5f5f5;
}
.nav-tabs > li.active {
  border-top-color: #3D013D;
  border-bottom-color: #fff;
}
.nav-tabs > li.active > a {
  color: #3D013D;
  background: #fff;
  -webkit-box-shadow: inset 0 3px 0 #3D013D;
  -moz-box-shadow: inset 0 3px 0 #3D013D;
  box-shadow: inset 0 3px 0 #3D013D;
  border: none;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
}
.nav-tabs > li.active:hover > a {
  border-top: 0;
  border: none;
  color: #3D013D;
}
.nav-tabs > li.last {
  border-right: 1px solid #eee;
}
/* ======= Steps ======= */
.steps {
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 120px;
}
.steps .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.steps .step {
  padding: 30px 60px;
  color: #666;
}
.steps .step .title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}
.steps .step .title .number {
  width: 90px;
  height: 90px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  background: #3D013D;
  border: 5px solid #f19180;
  color: #fff;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 26px;
  font-weight: bold;
  font-family: arial, sans-serif;
  margin-bottom: 30px;
}
.steps .step .title .text {
  color: #f19180;
  font-weight: bold;
  font-size: 16px;
}
.steps .btn-cta-primary {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 20px;
}
/* ======= Contact section ======= */
.contact-section {
  padding: 80px 0;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}
.contact-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-section .intro {
  margin-bottom: 60px;
}
.contact-section .contact-form {
  margin-left: 15px;
  margin-right: 15px;
}
.contact-section .contact-form .contact-form-inner {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(61, 1, 61, .7);
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(61, 1, 61, .7);
}
.contact-section .contact-form .error {
  color: #ec6952;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 300;
}
/* ======= Contact-other section ======= */
.contact-other-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-other-section .other-info li {
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  color: #666;
  text-align: left;
  padding-left: 90px;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li a {
  color: #666;
}
.contact-other-section .other-info li a:hover {
  color: #ec6952;
}
.contact-other-section .other-info li .fa {
  position: absolute;
  left: 0;
  top: 0;
  background: #3D013D;
  color: #fff;
  width: 60px;
  height: 100%;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact-other-section .other-info li .fa.fa-twitter {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-phone {
  font-size: 22px;
}
.contact-other-section .other-info li .fa.fa-map-marker {
  font-size: 22px;
  padding-top: 45px;
}
/* ======= Map section ======= */
.map-section {
  padding-top: 10px;
  padding-bottom: 50px;
}
.map-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.map-section .gmap-wrapper {
  border: 1px solid #eee;
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
.map-section .gmap-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* ======= Login Page ======= */
.has-full-screen-bg .upper-wrapper {
  background: #253340 url('../images/background/bg-screen-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.has-full-screen-bg.signup-page .upper-wrapper {
  background: #253340 url('../images/background/bg-screen-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.has-full-screen-bg .header h1.logo {
  float: none;
  text-align: center;
}
.has-full-screen-bg .header h1.logo a {
  margin: 0 auto;
}
.access-section {
  padding-bottom: 200px;
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.access-section .form-box .form-box-inner {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 40px;
}
.access-section .form-box .title {
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 0;
}
.access-section.signup-section .title {
  margin-bottom: 15px;
}
.access-section.signup-section .intro {
  margin-bottom: 60px;
}
.access-section .form-group {
  position: relative;
}
.access-section .form-group.email:before {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999;
}
.access-section .form-group.password:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999;
}
.access-section .form-control {
  font-size: 16px;
  padding-left: 30px;
  font-size: 14px;
}
.access-section .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.access-section .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
.access-section .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
.access-section .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.access-section .social-btns {
  padding-left: 60px;
  min-height: 250px;
  margin-bottom: 15px;
}
.access-section .social-btns li {
  margin-bottom: 10px;
}
.access-section .social-btns li .btn {
  color: #fff;
  min-width: 220px;
  text-align: left;
}
.access-section .social-btns li .btn:hover {
  color: #fff;
}
.access-section .social-btns li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-right: 10px;
  width: 30px;
}
.access-section .twitter-btn {
  background: #55acee;
}
.access-section .twitter-btn:hover {
  background: #2795e9;
}
.access-section .facebook-btn {
  background: #3b5998;
}
.access-section .facebook-btn:hover {
  background: #2d4373;
}
.access-section .google-btn {
  background: #dd4b39;
}
.access-section .google-btn:hover {
  background: #c23321;
}
.access-section .github-btn {
  background: #444;
}
.access-section .github-btn:hover {
  background: #2b2b2b;
}
.access-section .forgot-password {
  font-size: 13px;
  margin-top: 10px;
}
.access-section .forgot-password a {
  color: #999;
}
.access-section .forgot-password a:hover {
  text-decoration: underline;
  color: #ec6952;
}
.access-section .divider {
  border-left: none;
  margin-bottom: 30px;
  position: static;
}
.access-section .divider span {
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: inherit;
  text-transform: uppercase;
  color: #999;
}
.access-section .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #e5e5e5;
  height: 1px;
  width: 100%;
}
.access-section .social-btns {
  padding-left: 0;
  text-align: center;
}
.access-section .social-btns .btn {
  min-width: 100%;
}
.access-section .social-btns .social-login {
  display: inline-block;
  margin: 0 auto;
}
.access-section .note {
  color: #999;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.access-section .btn + .note {
  margin: 15px 0;
}
.access-section .remember label {
  font-size: 14px;
  color: #666;
}
.access-section .lead {
  font-size: 14px;
  color: #999;
  margin-top: 30px;
}

/* ======= Footer ======= */
.footer {
  background: #193651;
  color: #fff;
  padding-top: 40px;
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.footer p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #ec6952;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .download .download-list li {
  margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
}
